language: go

go:
  - 1.8
before_install:
  - wget -qO- https://deb.nodesource.com/setup_4.x | sudo bash -
  - sudo apt-get update -qq
  - sudo apt-get install -y ruby ruby-dev ubuntu-dev-tools rpm
  - npm install -g yarn
  - yarn install --pure-lockfile
  - npm install -g grunt-cli
  - gem install fpm
script:
  - cd ../../ && mv niclabs grafana && cd grafana/grafana
  - go run build.go build package
  - cd ../../ && mv grafana niclabs && cd niclabs/grafana
deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  file: dist/*
  skip_cleanup: true
  on:
    tags: true
